// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

.title, h1, h2, h3, h4, h5, .display-1, .display-2, .display-3, .display-4, .display-5
    font-family 'Ubuntu' !important

.sombraBlanca
    text-shadow -2px 2px 4px white
